body{
    margin: 0px;
    padding: 0px; 
    font-family: 'Ubuntu', sans-serif;
  
}

*{
    box-sizing: border-box;
    text-decoration: none;
  
}
/* Light Theme */
.fullPage-explore {
    background-color: #fff7f7;
    color: #000000;
  }
 
  
/*App.js ,, grid-section*/
.fullpage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   
}
.firstSection-fullPage{
    background-color: rgba(193, 46, 46, 0.715);
}
.secondSection-fullPage{
  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}
/*upperbar.js*/
.upperbar{
    width: 100vw;
    height: 3.5pc;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}
.upperbar div{
    margin-top: 6px;
    margin-inline: 25px;
}
.upperbar-hashIcon{
    font-size: 24px;
    color: rgba(120, 27, 196, 0.788);
    font-weight: bolder;
}
.upperbar-hashIcon span{
    margin: 10px;
}
/*NavBar.js*/
.navbar{
    height: 100vh;
    width: 15pc;  
    margin-top: 40px;
 text-decoration: none;
}
.navbar span{
  
    margin-inline-end: 20px;
     font-size: 30px;
 }
.navbar div{
    font-size: 20px;
    margin-bottom: 35px;
    margin-left: 30px;
}

/*Suggestion page*/
.fullPage-suggestion{
    height: 100vh;
}
.suggestions{
    display: flex;
    margin-block: 3pc;
}
.suggestions div{
    margin-left: 10px;
}
.userInfo div{
margin-bottom: 5px;
font-weight: bold;
}
.userFL{
    text-transform: capitalize;
    font-size: 18px;
}
.fullPage-suggestion h1{
    margin-block: 3pc;
}
.fullPage-suggestion img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.fullPage-suggestion button{
    width: 7pc;
    height: 2pc;
    background-color:  rgba(193, 46, 46, 0.715);
    border-style: none;
    border-radius: 13px;
    color: white;
    font-weight: bold;
}

.exploreUsers{
    display: flex;
    flex-direction: column;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 25px;
    border-radius: 10px;
    margin: 2pc;
}
.fl-usernameGrid{
    display: flex;
}
.fl-usernameGrid div{
    margin-left: 10px;
}
.fl-usernameGrid img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.optionsSocial{
    display: flex;
   justify-content: center;
   align-items: center;
    padding: 10px;
}
.optionsSocial span{
    margin: 10px;
}
.optionsSocial div{
    margin: 20px;
    margin-inline: 40px;
 font-size: 20px;
}
.exploreFL{
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}
.exploreContent{
    margin-top: 15px;
}

.addpostarea{
    width: 45pc;
    height: 20pc;
   font-size: 22px;
   text-align: center;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #f0e6e6af;
    padding: 25px;
    border-radius: 10px;
    margin-block: 50px;
}
.postbtn{
    text-align: center;
    border-style: none;
    background-color:  rgb(228, 158, 158);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 10px;
  position: relative;
  bottom: 100px;
    margin-left: 37pc;
}
.noPostsHeading {
    text-align: center;
    font-size: 40px;
    color: #0f0f0f;
    margin-top: 10pc;
    font-weight: bolder;
    width: 45pc;
  }
  .signupPage{
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 22pc;
    height: 23pc;
 margin: auto;
 margin-block: 5pc;
}
.signupPage div{
    margin: 20px;
}
.signupPage h1{
    color:  rgba(49, 51, 200, 0.822);
}.signupPage p{
    font-weight: bold;
}
.signupPage input{
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
    height: 2pc;
}
.signupPage button{
    background-color:  rgba(49, 51, 200, 0.822);
    color: white;
    font-weight: bold;
    padding: 6px;
border: none;
}  .App {
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 22pc;
    height: 23pc;
 margin: auto;
 margin-block: 5pc;
  }
  
  .App header {
   
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
   
  } .App header h1 {
    margin-bottom: 20px;
    color: rgba(49, 51, 200, 0.822);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }